@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  @apply leading-none;
}

p {
  @apply leading-tight;
}

body {
  font-family: var(--font-main);
  @apply text-neutral-800;
}

input,
textarea {
  @apply w-full rounded-xl border-2 bg-transparent px-4 py-2 focus:outline-blue-700;
}

.button-primary {
  @apply w-full rounded-xl bg-blue-700 px-6 py-3 text-sm font-bold uppercase text-white;
}

.button-secondary {
  @apply w-full rounded-xl border-2 px-5 py-2.5 text-sm font-bold uppercase;
}

.button-success {
  @apply w-full rounded-xl bg-teal-700 px-6 py-3 text-sm font-bold uppercase text-white;
}

.option {
  @apply w-full rounded-xl border-2 bg-blue-50 px-4 py-2;
}
